:root {
    --word: black;
    --error: black;
}

[data-theme = "dark"]{
    --word: antiquewhite;
    --error: rgb(207, 207, 56);
}

.error--text {
    font-size: 30px;
    font-family: 'Labrada', serif;
    color: var(--word);
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error--icon {
    margin-top: 40px;
    font-size: 300px;
    color: var(--error);
}