.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 30px;
}

.logo {
    height: 40px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 2px;
}

.title--navbar {
    font-family: 'Labrada', serif;
    font-size: 40px;
    font-weight: bold;
    color: #8a2be2;
    margin-bottom: 15px;
}

.theme {
    font-size: 40px;
    cursor: pointer;
    color: #8a2be2;
    background-color: rgb(243, 240, 240);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #8a2be2;
    transition: all;
    transition-duration: 300ms;
}

.theme:hover {
    color: white;
    background-color: #8a2be2;
}