:root {
    --background: white;
    --purple: #8a2be2;
    --word: black;
}

[data-theme = "dark"]{
    --background: #36393F;
    --purple: #b06def;
    --word: antiquewhite;
}

.input--fields {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input--text {
    height: 45px;
    width: 55vw;
    background-color: rgb(243, 240, 240);
    border-radius: 10px;
    border: 2px solid var(--purple);
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
    font-family: 'Labrada', serif;
}

.search--icon {
    height: 40px;
    width: 40px;
    background: rgb(243, 240, 240);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    color: var(--purple);
    border: 1px --purple solid;
}

.search--icon:hover {
    background-color: var(--purple);
    color: white;
}

@media only screen and (max-width: 800px) {
    .search--icon:hover{
        background: rgb(243, 240, 240);
        color: var(--purple);
    }
}