* {
  margin: 0;
}

.dict {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bigdata {
  top: 200px;
  max-width: 1200px;
  width: 1200px;
  overflow: scroll;
  background-color: antiquewhite;
  margin-bottom: 10px;
}

.word {
  width: 90vw;
  font-size: 60px;
  font-family: 'Labrada', serif;
}

.phonetic {
  color: #8a2be2;
  margin-left: 10px;
  font-size: 20px;
}